<style>
    body{
    background-color: #25292d;
    text-align: center;
}


.list{
    list-style-type: none !important;
    display: flex;
}

.list li{
    margin-right: 20px;
    font-size: x-large;
}

.list  a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.barra{
    display: flex;
    padding: 0px 20px;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    color: rgb(70, 70, 238);
}
.barra a{
    color: rgb(70, 70, 238);
}
.titulo{
    color: #fff;
    text-align: center;
}
.divbar{
    overflow: hidden;
    text-align: center;
}

img{
    float: left;
    margin-left: 300px;
    margin-top: 30px;
    border-radius: 100%;
    -webkit-border-radius: 70%;
    -moz-border-radius: 70%;
    -ms-border-radius: 70%;
    -o-border-radius: 70%;
    height: 200px;
    object-fit: cover;
    /*Ajustalaimagenparallenarelespaciosindistorsión*/
}

.confiimg h1{
    float : center;
    margin-top: 50px;
    
}
p {
    color: #fff;
    margin-top: 75px;
}

.h1{
    color: #fff;
}
h1{
    color: rgb(70, 70, 238);
}
.objetos{
    color: rgb(70, 70, 238) ;
    margin-top: 30px;
}
.confeimg{
    margin-top: 150px;
}
.descripcioninicio{
    color: #fff ;
}
.fecha{
    color: rgb(70, 70, 238) ;
}
.tituloinicio{
    color: rgb(70, 70, 238) ;
}

a{
    text-decoration: none !important;
    color: #fff;
}
.crearButton{
    background-color: black;
color: #fff;
}
.editarButton{
    background-color: black;
    color: #fff;

}

.editarButton:hover{
background-color: blue
}
.eliminarButton{
    background-color: black;
    color: #fff;

}
.eliminarButton:hover{
    background-color: red !important;
}
.contenedorbtn{
      display: flex;
  justify-content: center;
  align-items: center;
}
</style>
<body>
  
<div class="objetos">
    <div class="contenedorbtn">
            <button class="crearButton" id="crearButton"><a href="/crearnoticias">crear</a></button>
        </div>
{{#each querynoticias}}
        <div class="confeimg">
        <p style="display: none;">{{id_noticias}}</p>
        <img src="{{imagen}}">
        <h1 class="tituloinicio"> {{titulo}} </h1>
        <h4 class="descripcioninicio"> {{descripcion}} </h4>
        <h4 class="fecha">{{fecha_convertida}} </h4>
        </div>

        </div>
        
        <div class="contenedorbtn">
            
            <button class="editarButton" id="editarButton"><a href="/editarnoticias/{{id_noticias}}
"><i class="fas fa-edit"></i></a></button>
            <button class="eliminarButton" id="eliminarButton" onclick="validarEliminar('{{id_noticias}}')"><i class="iconof fas fa-trash-alt" style="color: white;"></i></button>

        </div>

        {{/each}}


        <script>
    //Funcion para confirma sí un usuario va a eliminar un registro
    function validarEliminar(id_noticias) {

        if (confirm("¿Se eliminará la noticia seleccionada, estás seguro de que deseas continuar?")) {

            axios.post('/eliminarnoticias', {
                id_noticias: id_noticias
            })
                .then(function (response) {

                    alert(response.data.mensaje)
                    var link = document.createElement("a");
                    link.href = `/noticias`;
                    link.click();

                })
                .catch(function (response) {

                    alert(response.data.mensaje)
                    var link = document.createElement("a");
                    link.href = `/noticias`;
                    link.click();
                })

        } else {

            var link = document.createElement("a");
            link.href = `/noticias`;
            link.click();
        }

    }

</script>

</body>