<style>
.titulo{
    color: #ebf2f6;
    text-align: center;
}
.divbar{
    overflow: hidden;
    text-align: center;
}

p {
    margin-top: 75px;
}

img{
    float: left;
    margin-left: 300px;
    margin-top: 30px;
    border-radius: 100%;
    -webkit-border-radius: 70%;
    -moz-border-radius: 70%;
    -ms-border-radius: 70%;
    -o-border-radius: 70%;
    height: 200px;
    object-fit: cover;
    /*Ajustalaimagenparallenarelespaciosindistorsión*/
}


p {
    color: #ebf2f6;
    margin-top: 75px;
}

.h1{
    color: #ebf2f6;
}
h1{
    color: rgb(70, 70, 238);
}
.objetos{
    color: rgb(70, 70, 238) ;
    margin-top: 30px;
}
.confeimg{
    margin-top: 150px;
}
.descripcioninicio{
    color: 	#ebf2f6 ;
}
.fecha{
    color: rgb(70, 70, 238) ;
}
.tituloinicio{
    color: #2a6e9e ;
}
.verdetalles{
    color: #144c7a ;
    text-decoration: underline !important;
}

a{
    text-decoration: none !important;
    color: 	#ebf2f6;
}
.crearButton{
    background-color: black;
color: 	#ebf2f6;
}
.editarButton{
    background-color: black;
    color: 	#ebf2f6;

}

.editarButton:hover{
background-color: blue
}
.eliminarButton{
    background-color: black;
    color: 	#ebf2f6;

}
.eliminarButton:hover{
    background-color: red !important;
}
.contenedorNoticias{
      display: flex;
  justify-content: center;
  align-items: center;
}

.boton{
    background-color: black !important;
    margin-top: 5px;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(-450px);
    }
    100% {
        transform: translateY(0);
    }
}

.animacion-noticia {
    animation: slideInFromLeft 0.7s ease-out;
    
}

@keyframes slideInFromTop {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
.animacion-noticias {
    animation: slideInFromTop 0.7s ease-out;
    
}



</style>
<body>
    

 
        {{#each vernoticiasById}}
        <div class="animacion-noticia confeimg">
        <p style="display: none;">{{id_noticias}}</p>
        <img src="{{imagen}}">
        <h1 class="tituloinicio"> {{titulo}} </h1>
        <h4 class="descripcioninicio"> {{descripcion}} </h4>
        <h4 class="fecha">{{fecha_convertida}} </h4>
        </div>
{{/each}}
<div class="animacion-noticias">
<button class="boton"><a href="/noticias"> atras</a></button>
</div>
            <script>
        document.addEventListener("DOMContentLoaded", function() {
            const puntuacionElements = document.querySelectorAll(".puntuacion");

            puntuacionElements.forEach(puntuacionElement => {
                const puntuacion = parseInt(puntuacionElement.textContent);

                if (puntuacion >= 0 && puntuacion <= 45) {
                    puntuacionElement.classList.add("rojo");
                } else if (puntuacion >= 46 && puntuacion <= 85) {
                    puntuacionElement.classList.add("amarillo");
                } else if (puntuacion >= 86 && puntuacion <= 100) {
                    puntuacionElement.classList.add("verde");
                }
            });
        });
    </script>
        
        </body>