<style>
    body {
        text-shadow: 1px 2px 1px gray;
    }

    .row {
        text-align: center;
        color: white !important;
        margin-top: 2px;
        margin-bottom: 2px;


    }

    .form-control {
        width: 100%;
        height: 6%;
        color: black !important;
        text-shadow: 3px 2px 3px gray;
        text-align: center;
        font-weight: bold;
    }

    .table-responsive {
        border-radius: 10px;
        border-color: black;
        border-style: solid;
        border-width: 2px;
        box-shadow: rgb(160, 160, 160) 10px 10px 10px;
        margin-right: 10px;
        margin-left: 10px;
        background-color: #25292d !important;

    }

    .cancelar {
        text-decoration: none;
        color: black !important;
    }

    .cancelarbtn {}

    .cancelarbtn:hover {
        background-color: red !important;
    }

    .editar {
        cursor: pointer;
    }

    .editar:hover {
        background-color: blue !important;
    }
</style>

<div class="table-responsive">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">editar componentes</h4>
                </div>

                <div class="card-body">

                    <form action="/editarcomponentes" method="post">
                        {{#each editarcomponentesById}}


                        <div class="row" style="display: none;">
                            <div class="col-lg-6">
                                <div class="col-lg-12">
                                    <label for="id_componenetes" class="col-form-label">id_componentes:</label>
                                    <input class="form-control" type="int" name="id_componenetes" value="{{id_componenetes}}"
                                        title="id" id="id" s readonly required>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-12">
                                    <label for="tipo" class="col-form-label">tipo:</label>
                                    <input class="form-control" type="text" name="tipo" value="{{tipo}}"
                                        title="Ingresa el tipo del componente" id="tipo" maxlength="300"
                                        oninput="this.value = this.value.replace(/[^A-ZÑ a-zñ]/g, '').replace(/(\..*)\./g, '$1');"
                                        required>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-12">
                                    <label for="nombre" class=" col-form-label">nombre:</label>
                                    <input class="form-control" type="text" name="nombre" value="{{nombre}}"
                                        title="Ingrese nombre Del componente" id="nombre" maxlength="1000"
                                        oninput="this.value = this.value.replace(/[^A-ZÑ a-zñ]/g, '').replace(/(\..*)\./g, '$1');"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-12">
                                    <label for="fabricante" class=" col-form-label">fabricante:</label>
                                    <input class="form-control" type="text" name="fabricante" value="{{fabricante}}"
                                        title="Ingrese fabricante Del componente" id="fabricante" maxlength="1000"
                                        oninput="this.value = this.value.replace(/[^A-ZÑ a-zñ]/g, '').replace(/(\..*)\./g, '$1');"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-12">
                                    <label for="precio" class="col-form-label">precio:</label>
                                    <input class="form-control" type="text" name="precio" value="{{formatCurrency precio}}"
                                        title="Ingrese precio Del componente" id="precio" maxlength="199"
                                        oninput="this.value = this.value.replace(/[^A-ZÑ a-zñ0-9]/g, '');">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-12">
                                    <label for="descripcion" class=" col-form-label">Descripción:</label>
                                    <input class="form-control" type="text" name="descripcion" value="{{descripcion}}"
                                        title="Ingrese Descripción Del componente" id="descripcion" maxlength="199"
                                        oninput="this.value = this.value.replace(/[^A-ZÑ a-zñ]/g, '').replace(/(\..*)\./g, '$1');"
                                        required>
                                </div>
                            </div>
                        </div>
                        <br>

                        <input class="editar" style="width:150px" type="submit" value="Editar">
                        {{/each}}




                    </form>
                    <button style="width:150px; float: right;" class="cancelarbtn"> <a class="cancelar" id="lnkCancelar"
                            href="/componentes"><i class="mdi mdi-table-large-remove">Cancelar</i></a></button>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
</div>
</div>
<!-- container-fluid -->
</div>
<!-- End Page-content -->
</div>
