<style>
    body {
        background-color: #1f2427;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .list {
        list-style-type: none !important;
        display: flex;
        justify-content: center; /* Centrar elementos horizontalmente */
        padding: 0;
    }

    .list li {
        margin-right: 20px;
        font-size: x-large;
    }

    .list a {
        text-decoration: none;
        color: #3f9ce3;
        transition: color 0.3s ease-in-out;
    }

    .barra {
        display: flex;
        justify-content: center; /* Centrar la barra horizontalmente */
        padding: 0px 20px;
        text-align: center;
        color: #3f9ce3;
        background-color: #1f2427;
    }

    .barra li {
        padding-left: 105px;
        padding-right: 105px; /* Espaciado en pantalla completa */
    }

    .barra a {
        color: #3f9ce3;
    }

    .titulo {
        color: 	#ebf2f6;
        text-align: center;
    }

    .divbar {
        overflow: hidden;
        text-align: center;
        background-color: #1f2427;
        padding: 20px;
    }

    h1 {
        color: rgb(70, 70, 238);
    }

 /* Basic Styles */
        .dropdown {
            position: relative;
            display: inline-block;
            float: right;

        }

        .dropdown-button {
            background: url('/assets/images/imagenIconoUsuario.png') center center no-repeat;
            background-size: 100% 100%; /* Ajusta la imagen al tamaño del botón */
            border-radius: 50%;
            border: none;
            cursor: pointer;
            width: 35px;
            height: 35px;
            margin-top: 0;
            padding: 0; /* Asegura que no haya espacio adicional alrededor de la imagen */
        }

        .dropdown-content {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            min-width: 200px;

        }

        .dropdown.active .dropdown-content {
            display: block;
        }

        /* Profile Image and Text */
        .header-profile-user {
            width: 0; /* Adjust as needed */
            height: 0; /* Adjust as needed */
            border-radius: 0%;
        }

        .user-info {
            padding: 10px;
        }

        .user-info h6 {
            margin: 0;
        }

        .user-info p {
            margin: 5px 0;
            font-size: 11px;
            color: #999;
        }

        /* Logout Button */
        .logout-button {
            background: none;
            border: none;
            cursor: pointer;
            display: block;
            padding: 10px;
            text-align: center;
            width: 100%;
        }

        

        .logout-button:hover{
            background-color: red;
        }
    @media (max-width: 1500px) {
        /* Estilos para pantallas más pequeñas */
        .barra li {
            padding-left: 10px;
            padding-right: 10px; /* Espaciado reducido en pantallas pequeñas */
        }
    }
</style>
<head>
    <link rel="shortcut icon" href="assets/images/SkylinkX.png">
    <link href="/assets/libs/jsvectormap/css/jsvectormap.min.css" rel="" stylesheet type="text/css">

    <!-- Icons Css -->


    <!-- select2-->
    {{!--
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" /> --}}
    <link rel="stylesheet" href="/assets/js/select2.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/assets/js/jquery-ui.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    

</head>
<body>
    

<header>

    {{!-- <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item user text-start d-flex align-items-center"
                        id="page-header-user-dropdown-v" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">

                        <img class="rounded-circle header-profile-user" src="/assets/images/imagenIconoUsuario.png"
                            alt="Header Avatar">

                        {{#each datosUsuario}}
                        <span
                            class="d-none d-xl-inline-block ms-2 fw-medium font-size-17">{{nombreCompletoUsuario}}</span>

                    </button>
                    <div class="dropdown-menu dropdown-menu-end pt-0">
                        <div class="p-3 border-bottom">
                            <h6 class="mb-0"> {{nombreCompletoUsuario}}</h6>
                            <p class="mb-0 font-size-11 text-muted">- {{nombreRol}}</p>
                            <p class="mb-0 font-size-11 text-muted"> {{correoElectronicoUsuario}}</p>
                        </div>
                        <form action="/salir" method="post">
                            <hiddenfield value="salir" name="salir"></hiddenfield>
                            <button class="dropdown-item"><i
                                    class="mdi mdi-logout text-muted font-size-16 align-middle me-2"></i> <span
                                    class="align-middle">Salir</span></button>

                        </form>
                    </div>
                </div>
                {{/each}} --}}
                        <div class="dropdown d-inline-block">
        <button type="button" class="btn header-item user text-start d-flex align-items-center dropdown-button">
            <img class="rounded-circle header-profile-user" src="/assets/images/imagenIconoUsuario.png"
                alt="Header Avatar">
                {{!-- {{#each datosUsuario}}
                <span
                            class="d-none d-xl-inline-block ms-2 fw-medium font-size-17">{{nombreCompletoUsuario}}</span>
                            {{/each}} --}}
        </button> 

        <div class="dropdown-content">
            <div class="user-info">
                {{#each datosUsuario}}
        <h6>{{nombreCompletoUsuario}}</h6>
        <p>{{nombreRol}}</p>
        <p>{{correoElectronicoUsuario}}</p>
{{/each}}
            </div>

            <form action="/salir" method="post">
                <input type="hidden" value="salir" name="salir">
                <button class="logout-button" ><i class="fa-solid fa-right-to-bracket"></i> <span class="align-middle">Salir</span></button>
            </form>
        </div>
    </div>
 
    <h1 class="titulo">Skylink X</h1>
    <div class="divbar">
    <nav class="barra">
        <ul class="list">

        <li><a href="/inicio">inicio</a></li>
 
        <li><a href="/componentes">componentes</a></li>
       
        <li><a href="/cursos">cursos</a></li>
        
        <li><a href="/noticias">noticias</a></li>
       
        </ul>
    </nav>
    </header>


    </div>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                {{{ body }}}

            </div>
</div>
<div>
        <footer class="footer">
            <div class="container-fluid " style="color:#fff; margin-top: 150px">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © SKYLINKX
                        <div class="text-sm-end d-none d-sm-block">
                            <a target="_blank" class="text-reset">aplicacion de informacion sobre objetos electronicos</a>
                        </div>
                    </div>
                    
            </div>
            </div>
        </footer>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://kit.fontawesome.com/2de5e0aa40.js" crossorigin="anónimo"></script>
 <script>
        


document.addEventListener("DOMContentLoaded", () => {
    const botonesEditar = document.querySelectorAll('.editarButton');
    const botonesEliminar = document.querySelectorAll('.eliminarButton');
    const botonescrear = document.getElementById('crearButton');

    axios.post('/PermisosSistemaPorRol', {})
        .then(function (response) {
            const permisosRol = response.data.PermisosSistemaPorRol;

            if (permisosRol.includes('1') && permisosRol.includes('2') && permisosRol.includes('3')) {
                // Mostrar los botones de edición y eliminación
                botonesEditar.forEach(boton => boton.style.display = 'block');          
                botonesEliminar.forEach(boton => boton.style.display = 'block');
                botonescrear.style.display = 'block';     
            } else {
                // Ocultar los botones de edición y eliminación
                botonesEditar.forEach(boton => boton.remove());
                botonesEliminar.forEach(boton => boton.remove());
                botonescrear.remove();
            }
        })
        .catch(function (error) {
            console.error("Error al obtener los permisos del usuario:", error);
        });
});



/*
            let uno = document.getElementById('1');
            //new ↓
            let unouno = document.getElementById('111');
            //new ↑

            let dos = document.getElementById('2');

            //new ↓
            let dosdos = document.getElementById('222');
            //new ↑
            let tres = document.getElementById('3');
            let cuatro = document.getElementById('4');
            let cinco = document.getElementById('5');
            let seis = document.getElementById('6');
            let siete = document.getElementById('7');
            let ocho = document.getElementById('8');
            let nueve = document.getElementById('9');
            let diez = document.getElementById('10');
            let once = document.getElementById('11');
            let doce = document.getElementById('12');
            let trece = document.getElementById('13');
            let catorce = document.getElementById('14');
            let quince = document.getElementById('15');
            let dieciseix = document.getElementById('16');
            let diecisiete = document.getElementById('17');
            let dieciocho = document.getElementById('18');
            let diecinueve = document.getElementById('19');
            let veinte = document.getElementById('20');
            let veintiuno = document.getElementById('21');
            let veintitres = document.getElementById('23');
            let veinticuatro = document.getElementById('24');
            let veinticinco = document.getElementById('25');
            let veintiseis = document.getElementById('26');
            let veintisiete = document.getElementById('27');
            let veintiocho = document.getElementById('28');
            //22 es todas las sedes pertenecientes al buzon, no tiene elemento por id (22)
            /*let veintidos = document.getElementById('22');
            //Titulos y secciones 

            //1,2,3 
            var SeccionMovimiento = document.getElementById('SeccionMovimiento');
            var tituloMovimiento = document.getElementById('tituloMovimiento');

            //-4
            var tituloProveedores = document.getElementById('tituloProveedores');
            var SeccionProveedores = document.getElementById('SeccionProveedores');

            //-5
            var tituloInsumos = document.getElementById('tituloInsumos');
            var SeccionInsumos = document.getElementById('SeccionInsumos');

            //-6
            var tituloTablasMaestras = document.getElementById('tituloTablasMaestras');
            var SeccionTablasMaestras = document.getElementById('SeccionTablasMaestras');

            //-7
            var tituloOtros = document.getElementById('tituloOtros');
            var SeccionOtros = document.getElementById('SeccionOtros');
            //-8
            var tituloRolYPermiso = document.getElementById('tituloRolYPermiso');
            var SeccionRolYPermiso = document.getElementById('SeccionRolYPermiso');

            //-9,10,11,1213,14,15,16,17,18,19,20,21,2223,24,25,26,27,28                             
            var tituloBuzon = document.getElementById('tituloBuzon');
            var SeccionBuzon = document.getElementById('SeccionBuzon'); 

            //let classItemsMovimiento = document.getElementsByClass('classItemsMovimiento');

            axios.post('/PermisosSistemaPorRol', {

            })
                .then(function (response) {
                    //Cadena de permisos 
                    let queryRol = response.data.PermisosSistemaPorRol;

                    //Convierto la cadena en un array
                    const arrayQueryRol = queryRol.split(',');
                    //Busco los permisos en el array                  
                    const unoPermisoEntradas = arrayQueryRol.some(item => item === '1')
                    const dosPermisoSalidas = arrayQueryRol.some(item => item === '2')
                    const tresPermisoStock = arrayQueryRol.some(item => item === '3')
                    const cuatroPermisoProveedores = arrayQueryRol.some(item => item === '4')
                    const cincoPermisoInsumos = arrayQueryRol.some(item => item === '5')
                    const seisPermisoTablasMaestras = arrayQueryRol.some(item => item === '6')
                    const sietePermisoOtros = arrayQueryRol.some(item => item === '7')
                    const ochoPermisoRolesYPermisos = arrayQueryRol.some(item => item === '8')
                    const nuevePermisosSJ = arrayQueryRol.some(item => item === '9')
                    const diezPermisosBS = arrayQueryRol.some(item => item === '10')
                    const oncePermisosBL = arrayQueryRol.some(item => item === '11')
                    const docePermisosCV = arrayQueryRol.some(item => item === '12')
                    const trecePermisosDM = arrayQueryRol.some(item => item === '13')
                    const catorcePermisosER = arrayQueryRol.some(item => item === '14')
                    const quincePermisosEN = arrayQueryRol.some(item => item === '15')
                    const dieciseixPermisosGR = arrayQueryRol.some(item => item === '16')
                    const diecisietePermisosMR = arrayQueryRol.some(item => item === '17')
                    const dieciochoPermisosPB = arrayQueryRol.some(item => item === '18')
                    const diecinuevePermisosSP = arrayQueryRol.some(item => item === '19')
                    const veintePermisosSR = arrayQueryRol.some(item => item === '20')
                    const veintiunoPermisosYR = arrayQueryRol.some(item => item === '21')
                    const veintidosPermisosB = arrayQueryRol.some(item => item === '22')
                    const veintitresPermisosRF = arrayQueryRol.some(item => item === '23')
                    const veinticuatroPermisosJC = arrayQueryRol.some(item => item === '24')
                    const veinticincoPermisosLV = arrayQueryRol.some(item => item === '25')
                    const veintiseisPermisosLVE = arrayQueryRol.some(item => item === '26')
                    const veintisietePermisosSB = arrayQueryRol.some(item => item === '27')
                    const veintiochoPermisosRG = arrayQueryRol.some(item => item === '28')
                    
                    
                    //Si longitud array es dirente de cero y tiene permiso true se le mostraran las secciones a las cuales puede haceder, ademas a las secciones que no puede acceder el display = none esto hará que se oculten 
                    if (queryRol.length != 0) {



                        if (unoPermisoEntradas || dosPermisoSalidas || tresPermisoStock) {

                            if (unoPermisoEntradas) {
                                uno.style.display = 'block';
                                //new
                                unouno.style.display = 'block';
                                //new                                                                                  
                            }

                            if (dosPermisoSalidas) {
                                dos.style.display = 'block';
                                //new
                                dosdos.style.display = 'block';
                                //new
                            }

                            if (tresPermisoStock) {
                                tres.style.display = 'block';
                            }

                        }
                        else {
                            SeccionMovimiento.style.display = 'none';
                            tituloMovimiento.style.display = 'none';
                        }

                        if (cuatroPermisoProveedores) {
                            cuatro.style.display = 'block';
                        }
                        else {
                            tituloProveedores.style.display = 'none';
                            SeccionProveedores.style.display = 'none';
                        }

                        if (cincoPermisoInsumos) {
                            cinco.style.display = 'block';
                        }
                        else {
                            tituloInsumos.style.display = 'none';
                            SeccionInsumos.style.display = 'none';
                        }

                        if (seisPermisoTablasMaestras) {
                            seis.style.display = 'block';
                        }
                        else {
                            tituloTablasMaestras.style.display = 'none';
                            SeccionTablasMaestras.style.display = 'none';
                        }

                        if (sietePermisoOtros) {
                            siete.style.display = 'block';
                        }
                        else {
                            tituloOtros.style.display = 'none';
                            SeccionOtros.style.display = 'none';
                        }

                        if (ochoPermisoRolesYPermisos) {
                            ocho.style.display = 'block';
                        }
                        else {
                            tituloRolYPermiso.style.display = 'none';
                            SeccionRolYPermiso.style.display = 'none';
                        }
                        if (nuevePermisosSJ || diezPermisosBS || oncePermisosBL || docePermisosCV || trecePermisosDM || catorcePermisosER || quincePermisosEN || dieciseixPermisosGR || diecisietePermisosMR || dieciochoPermisosPB || diecinuevePermisosSP || veintePermisosSR || veintiunoPermisosYR || veintidosPermisosB || veintitresPermisosRF || veinticuatroPermisosJC || veinticincoPermisosLV || veintiseisPermisosLVE || veintisietePermisosSB || veintiochoPermisosRG ){
                        if (nuevePermisosSJ) {
                            nueve.style.display = 'block';
                        }
                        if (diezPermisosBS) {
                            diez.style.display = 'block';
                        } 
                        if (oncePermisosBL) {
                            once.style.display = 'block';
                        } 
                        if (docePermisosCV) {
                            doce.style.display = 'block';
                        } 
                        if (trecePermisosDM) {
                            trece.style.display = 'block';
                        } 
                        if (catorcePermisosER) {
                            catorce.style.display = 'block';
                        } 
                        if (quincePermisosEN) {
                            quince.style.display = 'block';
                        } 
                        if (dieciseixPermisosGR) {
                            dieciseix.style.display = 'block';
                        } 
                        if (diecisietePermisosMR) {
                            diecisiete.style.display = 'block';
                        } 
                        if (dieciochoPermisosPB) {
                            dieciocho.style.display = 'block';
                        } 
                        if (diecinuevePermisosSP) {
                            diecinueve.style.display = 'block';
                        } 
                        if (veintePermisosSR) {
                            veinte.style.display = 'block';
                        }
                        if (veintiunoPermisosYR) {
                            veintiuno.style.display = 'block';
                        }
                        
                        if(veintidosPermisosB){
                            veintisiete.style.display = 'block';
                            veintiocho.style.display = 'block';
                            veintiseis.style.display = 'block';
                            veinticinco.style.display = 'block';
                            veinticuatro.style.display = 'block';
                            veintitres.style.display = 'block';
                            veintiuno.style.display = 'block';
                            veinte.style.display = 'block';
                            diecinueve.style.display = 'block';
                            dieciocho.style.display = 'block';
                            diecisiete.style.display = 'block';
                            dieciseix.style.display = 'block';
                            quince.style.display = 'block';
                            catorce.style.display = 'block';
                            trece.style.display = 'block';
                            doce.style.display = 'block';
                            once.style.display = 'block';
                            diez.style.display = 'block';
                            nueve.style.display = 'block';
                        }
                        if (veintitresPermisosRF) {
                            veintitres.style.display = 'block';
                        }
                        if (veinticuatroPermisosJC) {
                            veinticuatro.style.display = 'block';
                        }
                        if (veinticincoPermisosLV) {
                            veinticinco.style.display = 'block';
                        }
                        if (veintiseisPermisosLVE) {
                            veintiseis.style.display = 'block';
                        }
                        if (veintisietePermisosSB) {
                            veintisiete.style.display = 'block';
                        }
                        if (veintiochoPermisosRG) {
                            veintiocho.style.display = 'block';
                        }
                        }else {
                        SeccionBuzon.style.display = 'none';
                        tituloBuzon.style.display = 'none';
                        }

                    }
                });
        })*/
        document.addEventListener("DOMContentLoaded", function () {
    const dropdownButton = document.querySelector(".dropdown-button");
    const dropdown = document.querySelector(".dropdown");

    dropdownButton.addEventListener("click", function (e) {
        e.stopPropagation(); // Evita que el clic en el botón se propague al documento
        dropdown.classList.toggle("active"); // Agregar o quitar la clase 'active' al hacer clic en el botón
    });

    // Agregar un manejador de eventos clic al documento para cerrar el menú cuando se hace clic en cualquier otro lugar
    document.addEventListener("click", function (e) {
        if (!dropdown.contains(e.target) && e.target !== dropdownButton) {
            dropdown.classList.remove("active"); // Quitar la clase 'active' para cerrar el menú
        }
    });
});

    </script>

    <script src="/assets/libs/metismenujs/metismenujs.min.js"></script>
    <script src="/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/assets/libs/eva-icons/eva.min.js"></script>

    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/xlsx.mini.min.js"></script>
    <script src="/assets/js/axios.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script src="/assets/js/html2pdf.bundle.min.js"></script>
</body>
        {{!-- text-shadow: 1px 2px 1px gray; --}}